/* ---------- TEXT ---------- */
$main_text_color: #606468;
$text_color_black: black;
$text_color_grey: #666666;
$text_color_white: white;
$text_color_blue: #2196f3;
$text_color_blue_tabs: #1565c0;
$text_color_darkblue: #0d47a1;
$text_color_green: #1fa227;
$text_color_orange: #f57f17;
$text_color_red: #d23437;
$alert_text_color_black: black;

/* ---------- BACKGROUND ---------- */
$main_menu_background_color: #f5f5f5;
$background_color_white: white;
$background_color_light: #fbfcfc;
$background_color_gray: gray;
$background_color_blue: #2196f3;
$background_color_orange: #f6a435;
$background_color_red: #ff5252;
$background_input_color_grey: #d9d9d9;
$background_input_color_lightgrey: #e6e6e6;
$background_modal_color_grey: rgba(0, 0, 0, 0.5);
$background_task_count_grey: #9e9e9e;
$background_alert_red: #ffe6e6;
$background_alert_green: #d6f5d6;

/* ---------- BOX_SHADOW ---------- */
$box-shadow_color: grey;

/* ---------- LINKS ---------- */
$links_color_blue: #2196f3;
$links_color_grey: #666666;
$links_color_black: black;

/* ---------- BORDER ---------- */
$border_color_light: lightgray;
$border_color_dark: gray;
$border_color_blue: #2196f3;
